/**
Estilos de como contar hasta 5 con while
Martin Stiben Narvaez
Lunes 17 de Junio del 2024
*/

.formulario{
    display: flexbox;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 5px 15px;
    border-radius: 6px;
}

.forma, .respuesta{
    border:2px solid #000;
    margin:10px;
    padding:5px;
    border-radius: 6px;
}

.forma{
    padding: 30px;
}